# Instructions

-------Take series of N data - S

Shuffle using shuffling function

Take the first data (ex - D45) - S1

Take second data (ex - D34)

Toss (random 0/1) 0=left, 1 right (ex -0)

Place second data based on toss- S2 - (D34, D45)

Take third data (ex - D23)

Toss (random 0/1) 0=left, 1 right (ex - 0)

Shuffle S2, take first data (ex - D45)

Place based on toss in S2 - (D34, D23, D45) = S3 

Take 4th data (ex - D12)

Toss (random 0/1) 0=left, 1 right (ex - 1)

Shuffle S3, take first data (ex - D23)

Place based on toss in S3 - (D34, D23, D12, D45) = S4 

Take 5th data (ex - D39)

Toss (random 0/1) 0=left, 1 right (ex - 0)

Shuffle S4, take first data (ex - D45)

Place based on toss in S4 - (D34, D23, D12, D39, D45) = S5 

Repeat N times

### Import Libraries and Initialize the series

In [51]:
import random
from shuffle.functions import python_shuffle, api_suffle, insert_item, final_shuffle

S = [f'D{i}' for i in range(1, 21)]
S

['D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'D10',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'D16',
 'D17',
 'D18',
 'D19',
 'D20']

### Shuffle the series

In [52]:



shuffled_data = python_shuffle(S)
shuffled_data

['D9',
 'D1',
 'D4',
 'D6',
 'D5',
 'D13',
 'D8',
 'D16',
 'D15',
 'D19',
 'D2',
 'D10',
 'D18',
 'D3',
 'D12',
 'D11',
 'D20',
 'D14',
 'D17',
 'D7']

Insert the first data into the result to make S1

In [53]:
res = [shuffled_data[0]]
print(f"S1 = {res}")

S1 = ['D9']

Insert the next four items according to the rule for better understanding  
And make S5

In [54]:
for i in range(1, 5):
    insert_item(res, shuffled_data[i])
    
print(f"S5 = {res}")

S5 = ['D1', 'D9', 'D5', 'D6', 'D4']

### Demonstrate the process of inserting the sixth data

First find the sixth data

In [55]:
# find the sixth data
sixth = shuffled_data[5]
sixth

'D13'

### Toss left or right

0 - left  
1 - right

In [58]:
# Toss(0/1) 0 = left, 1 = right
toss = random.choice([0, 1])
toss

0

### Find the element to insert before or after

First shuffle S5 and pick the first value

In [60]:
S_shuffled = python_shuffle(res)
first = S_shuffled[0]

print(f"S5:                  {res}")
print("")
print(f"shuffled S5:    {S_shuffled}")
first

S5:                  ['D1', 'D9', 'D5', 'D6', 'D4']

shuffled S5:    ['D1', 'D6', 'D4', 'D9', 'D5']

'D1'

### Insert the item in the correct position

In [61]:
# find index
pos = res.index(first) + toss

#insert the data
res.insert(pos, sixth)
res

['D13', 'D1', 'D9', 'D5', 'D6', 'D4']

### Demonstrate the process of inserting the seventh data

First find the seventh data

In [62]:
# find the sixth data
seventh = shuffled_data[6]
seventh

'D8'

### Toss left or right

0 - left  
1 - right

In [63]:
# Toss(0/1) 0 = left, 1 = right
toss = random.choice([0, 1])
toss

0

In [66]:
S_shuffled = python_shuffle(res)
first = S_shuffled[0]

print(f"S6:                  {res}")
print("")
print(f"shuffled S6:    {S_shuffled}")
first

S6:                  ['D13', 'D1', 'D9', 'D5', 'D6', 'D4']

shuffled S6:    ['D9', 'D4', 'D13', 'D5', 'D1', 'D6']

'D9'

In [67]:
# find index
pos = res.index(first) + toss

#insert the data
res.insert(pos, seventh)
res

['D13', 'D1', 'D8', 'D9', 'D5', 'D6', 'D4']

### Continue inserting the remaining elements

In [68]:
for i in range(7, len(shuffled_data)):
    insert_item(res, shuffled_data[i])
    
res

['D13',
 'D1',
 'D8',
 'D9',
 'D7',
 'D2',
 'D5',
 'D12',
 'D10',
 'D17',
 'D3',
 'D11',
 'D16',
 'D6',
 'D15',
 'D4',
 'D18',
 'D19',
 'D14',
 'D20']

### Call the function to do the entire process

In [69]:
final_result = final_shuffle(S)
final_result

['D5',
 'D4',
 'D20',
 'D3',
 'D9',
 'D6',
 'D12',
 'D17',
 'D16',
 'D8',
 'D7',
 'D1',
 'D19',
 'D14',
 'D15',
 'D13',
 'D18',
 'D10',
 'D11',
 'D2']